<!-- Author(s): Lee Yi Cheng, Melvin -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="footer">
	<div class="svg-flip-bg"></div>
	<footer class="py-4 bg-primary text-center">
	       <div class="container p-5">
	           <h5 class="fw-bold">Get Fresh Food</h5>
	           <p class="mb-1">Contact us: <a href="mailto:support@getfreshfood.com">support@getfreshfood.com</a></p>
	           <p class="mb-1">Phone: <a href="tel:+6512345678">+65 1234 5678</a></p>
	           <p class="mb-0">©️ 2025 Get Fresh Food. All rights reserved.</p>
	       </div>
	   </footer>
	
	<!--Author(s): Andy Teow Rui Qing-->
	<script th:src="@{/assets/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js}"></script>
	<th:block sec:authorize="isAuthenticated()">
		<script>

			// Fetch actual cart summary on page load

			window.addEventListener('DOMContentLoaded', () => {
				fetch('/cart/summary')
					.then(response => response.json())
					.then(data => {
						updateCartCount(data.itemCount);
				});
			});



			function updateCartCount(count) {
				document.getElementById('cart-count').textContent = count;
			}

		</script>
	</th:block>


</html>
</th:block>

</html>
