
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="footer">
	<div class="svg-flip-bg"></div>
	<footer class="py-5 bg-primary">
		<div class="container px-5 px-md-0">
			<h2 class="my-4 fw-bold fs-3"></h2>
			<div class="row">
				<div class="col"></div>
			</div>
		</div>
	</footer>
	<script th:src="@{/assets/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js}"></script>
	<th:block sec:authorize="isAuthenticated()">
		<script>

			// Fetch actual cart summary on page load

			window.addEventListener('DOMContentLoaded', () => {
				fetch('/cart/summary')
					.then(response => response.json())
					.then(data => {
						updateCartCount(data.itemCount);
				});
			});



			function updateCartCount(count) {
				document.getElementById('cart-count').textContent = count;
			}

		</script>
	</th:block>


</html>
</th:block>

</html>
