<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header(title)">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:text="${title}">Default Title</title>
		<link rel="stylesheet" href="/assets/brite/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>

	<body>
		<header>
			<nav class="px-3 py-2 bg-dark text-white">
				<div class="container px-5 px-md-0">
					<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
						<a href="/"
							class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
								class="bi bi-basket3-fill me-2" viewBox="0 0 16 16">
								<path
									d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
							</svg>
							<span class="fs-3 fw-bold">GetFreshFood</span>
						</a>
						<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
							<li>
								<a href="#" class="nav-link text-white">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
										class="bi bi-house d-block mx-auto" viewBox="0 0 16 16">
										<path
											d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
									</svg>
									<span>Home</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link text-white">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
										class="bi bi-window-sidebar d-block mx-auto" viewBox="0 0 16 16">
										<path
											d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
										<path
											d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1zM1 13V6h4v8H2a1 1 0 0 1-1-1m5 1V6h9v7a1 1 0 0 1-1 1z" />
									</svg>
									<span>Dashboard</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link text-white">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
										class="bi bi-cart d-block mx-auto" viewBox="0 0 16 16">
										<path
											d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
									</svg>
									<span>Cart</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link text-white">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
										class="bi bi-box-seam d-block mx-auto" viewBox="0 0 16 16">
										<path
											d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
									</svg>
									Products
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="px-3 py-2 border-bottom">
				<div class="container d-flex flex-wrap justify-content-center px-5 px-md-0">
					<form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
						<input type="search" class="form-control rounded-0" placeholder="Search Products"
							aria-label="Search">
					</form>

					<div class="text-end">
						<button type="button" class="btn btn-primary text-dark me-2 rounded-0">Login</button>
					</div>
				</div>
			</div>
		</header>
</th:block>