<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Cart')}"></th:block>
<main>
	<section class="container p-5 pb-0 px-lg-0 mt-5 pt-5">
		<div class="coupon row align-items-center mx-auto mt-5 pt-5">
			<h1 class="mb-4 fw-bold">My Cart</h1>
			<aside class="col-xs-12 col-lg-8 px-lg-0 align-self-start mb-2 mb-lg-0">
				<div class="border border-2 border-black p-3 mb-2 d-flex flex-column">
					<span class="fs-3 fw-bold d-inline-block">Deliver To</span>
					<span>Address is this:
						<span th:each="address: ${addresses}">
							<span th:text="${address}"></span>
						</span>
					</span>
					<div th:each="product: ${products}">
						<span th:text="${product.id}"></span>
					</div>
				</div>
				<div class="border border-2 border-black p-3">
					<span class="fs-3 fw-bold d-inline-block me-2">Cart Items</span>
					<div class="form-check d-flex align-items-center justify-content-around">
						<div th:each="item : ${cartItems}">
							<span class="fs-4 fw-bold" th:text="${item.product.name}"></span>
							<span class="fs-5 fw-medium" th:text="'S$' + ${item.price}"></span>
							<span class="fs-5 fw-medium" th:text="${item.quantity}"></span>
							<span class="fs-5 fw-medium" th:text="'S$' + ${item.price * item.quantity}"></span>
						</div>
						<div th:if="${#lists.isEmpty(cartItems)}">
							<span colspan="4">No items in cart.</span>
						</div>
					</div>
					<!-- Cart Summary -->
					<form th:action="@{/cart/empty}" method="post">
						<button class="btn btn-danger rounded-0">Empty Cart</button>
					</form>
			</aside>
			<div class="col px-lg-2">
				<div class="border border-2 border-black p-3 mb-5 d-flex flex-column">
					<span class="fs-3 fw-bold d-inline-block mb-3">Checkout Details</span>
					<span class="fs-4 fw-medium">Total Quantity: <span th:id="cart-count" th:text="${itemCount}"></span></span>
					<span class="fs-4 fw-bold my-2">Total Amount: <span th:id="cart-total" th:text="'S$' + ${totalPrice} + 0"></span></span></span>
					<button class="btn btn-primary rounded-0 w-100">Check Out</button>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>