<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Cart')}"></th:block>
<main>
	<section class="container p-5 pb-0 px-lg-0 mt-5 pt-5">
		<div class="coupon row align-items-center mx-auto mt-5 pt-5">
			<h1 class="mb-4 fw-bold">My Cart</h1>
			<!--<aside class="col-xs-12 col-lg-8 px-lg-0 align-self-start mb-2 mb-lg-0">
				<div class="border border-2 border-black p-3 mb-2 d-flex flex-column">
					<span class="fs-3 fw-bold d-inline-block">Deliver To</span>
					<span>Address is this:
						<span th:each="address: ${addresses}">
							<span th:text="${address}"></span>
						</span>
					</span>
					<div th:each="product: ${products}">
						<span th:text="${product.id}"></span>
					</div>
				</div>
				<div class="border border-2 border-black p-3">
					<span class="fs-3 fw-bold d-inline-block me-2">Cart Items</span>
					<div class="form-check d-flex align-items-center justify-content-around">
						<div th:each="item : ${cartItems}">
							<span class="fs-4 fw-bold" th:text="${item.product.name}"></span>
							<span class="fs-5 fw-medium" th:text="'S$' + ${item.price}"></span>
							<span class="fs-5 fw-medium" th:text="${item.quantity}"></span>
							<span class="fs-5 fw-medium" th:text="'S$' + ${item.price * item.quantity}"></span>
						</div>
						<div th:if="${#lists.isEmpty(cartItems)}">
							<span colspan="4">No items in cart.</span>
						</div>
					</div>
					<div th:each="entry : ${groupedItems}">
						<form th:action="@{/cart/delete}" method="post" th:id="'delete-form-' + ${entry.key.id}"
							style="display:none;">
							<input type="hidden" name="productId" th:value="${entry.key.id}" />
						</form>
					</div>
			</aside> -->
			<div class="col px-lg-2">
				<div class="border border-2 border-black p-3 mb-5 d-flex flex-column">
					<div th:if="${#maps.isEmpty(groupedItems)}" class="fs-2 fw-semibold mx-auto">
						<div class="d-flex flex-column mx-auto">
							No items in cart!
							<a th:href="@{/products}" class="btn btn-primary rounded-0 mt-3">Add product</a>
						</div>

					</div>
					<span th:if="${!#maps.isEmpty(groupedItems)}">
						<span class="fs-3 fw-bold d-inline-block">Checkout Details</span>

						<!--To fix -->
						<form th:action="@{/cart/empty}" method="post">
							<button class="btn btn-danger mt-3 rounded-0 mb-3">Empty Cart</button>
						</form>

						<!--To fix -->
						<form th:action="@{/cart/checkout}" class="overflow-x-scroll" method="post" id="checkout-form">
							<table class="table table-striped">
								<thead class="fs-4 fw-semibold">
									<tr>
										<th>Select</th>
										<th>Product</th>
										<th>Unit Price</th>
										<th>Quantity</th>
										<th>Total Price</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!-- Loop through cartItems -->
									<tr class="fs-5 fw-medium" th:each="entry : ${groupedItems}">
										<td>
											<input class="form-check-input p-2 d-inline-block me-2 rounded-0" type="checkbox"
												th:id="'item-' + ${entry.key.id}" th:value="${entry.key.id}"
												name="checkedoutItems" th:checked="${entry.value[0].checkedOut}" />
										</td>
										<td th:text="${entry.key.name}"></td>
										<td th:text="'S$' + ${#numbers.formatDecimal(entry.key.price, 1, 2)}"></td>
										<td th:text="${entry.value.size()}"></td>
										<td
											th:text="'S$' + ${#numbers.formatDecimal(entry.key.price * entry.value.size(), 1, 2)}">
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-sm rounded-0"
												th:onclick="'submitDeleteForm(' + ${entry.key.id} + ')'">
												Remove
											</button>
										</td>
									</tr>
								</tbody>
							</table>

							<!-- Cart Summary -->
							<div class="d-flex justify-content-between">
								<h3>Total: <span th:id="cart-total"
										th:text="'S$' + ${#numbers.formatDecimal(totalPrice, 1, 2)}"></span></h3>
								<!--<h3>Items: <span th:id="cart-count" th:text="${itemCount}"></span></h3>-->
							</div>



							<!-- Proceed to checkout button -->
							<button type="submit" class="btn btn-primary mt-3 rounded-0 w-25">Proceed to
								Checkout</button>
						</form>

						<div th:each="entry : ${groupedItems}">
							<form th:action="@{/cart/delete}" method="post" th:id="'delete-form-' + ${entry.key.id}"
								style="display:none;">
								<input type="hidden" name="productId" th:value="${entry.key.id}" />
							</form>
						</div>
					</span>

				</div>

			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>