<!-- Author(s): Lee Yi Cheng, Melvin -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Login - Forgot Password')}"></th:block>
<main>
	<section class="container pt-5 d-flex">
		<div class="row solo-box-page align-items-center mx-auto mt-5 pt-5">
			<div class="col mt-5 p-5 border border-black">
				<h1 class="mb-4 fw-bold text-center">Forgot Password</h1>
				<form th:action="@{/send-otp}" th:object="${otpRequest}" method="post">
					<div class="mb-3">
						<label for="mobileNumber" class="form-label">Mobile Number</label>
						<input class="form-control rounded-0" type="number" th:field="*{mobileNumber}" id="mobileNumber"
							name="mobileNumber" placeholder="Enter Mobile Number" required />
					</div>

					<div th:if="${usererror}" class="error-message" style="color: red;">
						<p th:text="${usererror}"></p>
					</div>

					<button class="btn btn-primary w-100 rounded-0" type="submit">Send OTP</button>
				</form>


				<div th:if="${otpSent}">
					<div>
						<p style="color:rgb(0, 128, 0);">OTP sent to the entered mobile number</p>
					</div>

					<form th:action="@{/reset-password}" th:object="${otpRequest}" method="post">
						<div class="mb-3">
							<input type="hidden" th:field="*{mobileNumber}"  class="form-label" />
							<label>Enter OTP:</label>

							<input class="form-control rounded-0" type="text" th:field="*{otp}" required />
						</div>
						<div th:if="${otperror}" class="error-message" style="color:rgb(255, 0, 0);">
							<p th:text="${otperror}"></p>
						</div>

						<div class="mb-3">

							<label>New Password:</label>
							<input class="form-control rounded-0" type="password" th:field="*{newPassword}" required />
						</div>
						<button class="btn btn-primary w-100 rounded-0" type="submit">Reset Password</button>

				</div>

				</form>
			</div>

		</div>

		</div>
	</section>
</main>


<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>