<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Welcome Home To GetFreshFood')}"></th:block>
<main>
	<section class="py-5 bg-primary title-section">
		<div class="container px-5 px-md-0">
			<h1 class="display-4 fw-bold mb-3">Food For Thought</h1>
			<p class="col-md-8 fs-3 fw-semibold">Welcome to GetFreshFood! Where your every shopping needs are met!</p>
		</div>
	</section>
	<section class="py-5 svg-bg">
		<div class="container px-5 px-md-0">
			<h2 class="my-4 fw-bold fs-3">Categories</h2>
			<div class="row row-cols-lg-6 g-4">
				<div class="col" th:each="c:${categories}">
					<div class="card card-category position-relative text-center rounded-0 border border-2">
						<div class="card-body d-flex flex-column">
							<!--loop image filename from category ID-->
							<img th:src="@{'/assets/img/categories/category_' + ${c.id} + '.jpg'}"
								class="card-img-top rounded-0" th:alt="${c.category}">
							<a th:href="@{'/products/' + ${c.id}}" class="card-text fs-5 mb-0 mt-auto" th:text="${c.category}">Fruits & Vegetables</a>
						</div>
					</div>
				</div>
			</div>
	</section>
	<section class="py-5" th:each="c:${categories}">
		<div class="container px-5 px-md-0">
			<h2 class="my-4 fw-bold fs-3" th:text="${c.category}">Fruits & Vegetables</h2>
			<div class="row row-card g-3">

				<div class="col" th:each="p:${c.products}">
					<div class="card card-product position-relative p-2 rounded-0 border border-2">
						<div class="card-body d-flex flex-column justify-content-between">
							<span class="badge fs-6 text-bg-primary position-absolute rounded-0"
								th:text="${p.labels}">Sale</span>
							<img th:src="${p.productUrl}" height="200" class="card-img-top rounded-0"
								th:alt="${p.productName}">
							<h5 class="card-title mt-4" th:text="${p.productName}">Apple</h5>
							<p class="card-text fw-light mb-0" th:text="${p.productCategory.category}">Fruits &
								Vegetables
							</p>
							<div class="d-grid d-md-flex justify-content-md-between align-items-center mt-auto">
								<span class="fs-5" th:text="'S$' + ${#numbers.formatDecimal(p.price, 1, 2)}">S$20</span>
								<form th:action="@{/cart/{id}(id=${p.id})}" method="post">
									<button th:data-product-id="${p.id}"
										class="btn btn-primary rounded-0 add-to-cart-btn" type="submit"><svg
											xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
											<path fill-rule="evenodd"
												d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
										</svg>Add</button>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>