<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Welcome Home To GetFreshFood')}"></th:block>
<main>
	<section class="py-5 bg-primary title-section">
		<div class="container px-5 px-md-0">
			<div class="row g-2 text-black">
				<div class="col-lg-8">
					<div class="banner-box position-relative border border-3 border-dark">
						<div class="position-absolute">
							<span class="fs-3 fw-bold d-block mb-3">Fresh Produce from S$0.50</span>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="banner-box position-relative border border-3 border-dark">
						<div class="position-absolute">
							<span class="fs-3 fw-bold d-block mb-3">Fresh Produce from S$0.50</span>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5 bg-primary">
		<div class="container px-5 px-md-0">
			<h1 class="display-5 fw-bold">Food For Thought</h1>
			<p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in
				previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to
				your liking.</p>
		</div>
	</section>
	<section class="py-5 svg-bg">
		<div class="container px-5 px-md-0">
			<h2 class="my-4 fw-bold fs-3">Get It Here!</h2>
			<div class="row row-card g-3">
				<div class="col col-lg-2" th:each="c:${categories}">
					<div class="card card-category position-relative text-center rounded-0 border border-2">
						<div class="card-body">
							<img src="https://picsum.photos/300" class="card-img-top rounded-0" alt="...">
							<p class="card-text fw-bold mb-0 mt-2" th:text="${c.category}">Fruits & Vegetables</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5">
		<div class="container px-5 px-md-0">
			<h2 class="my-4 fw-bold fs-3">Fruits & Vegetables</h2>
			<div class="row row-card g-3">
					<div class="col" th:each="product:${products}">
						<div class="card card-product position-relative p-2 rounded-0 border border-2">
							<div class="card-body d-flex flex-column justify-content-between">
								<span class="badge fs-6 text-bg-primary position-absolute rounded-0">Sale</span>
								<img th:src="${product.productUrl}"  class="w-48 h-48 card-img-top rounded-0" th:alt="${product.name}">
								<h5 class="card-title mt-4" th:text="${product.name}">Apple</h5>
								<p class="card-text fw-light mb-0" th:text="${product.productCategory}">Fruits & Vegetables</p>
								<span th:text="${product.description}"></span>
								<div class="d-grid d-md-flex justify-content-md-between align-items-center mt-auto">
									<span class="fs-5" th:text="${product.price}">S$20</span>
									<form th:action="@{/cart/{id}(id=${product.id})}" method="post">
										<button th:data-product-id="${product.id}"
											class="btn btn-primary rounded-0 add-to-cart-btn" type="submit"><svg
												xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
											</svg>Add</button>
									</form>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>