<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="fragments/header :: header('Login')"></th:block>
<main>
	<section class="container p-5 d-flex">
		<div class="row min-w-25 align-items-center mx-auto mt-5 pt-5">
			<div class="col mt-5 pt-5">
				<form>
					<h1 class="mb-4 fw-bold">Login</h1>
					<div class="mb-3">
						<label for="email" class="form-label">Email Address</label>
						<input type="email" class="form-control rounded-0" id="email" name="email"
							placeholder="Enter Email" aria-describedby="emailHelp">
						<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<button type="submit" class="btn btn-primary w-100 rounded-0">Submit</button>
				</form>
			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="fragments/footer :: footer"></th:block>

</html>