<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Login')}"></th:block>

<main>
    <section class="container pt-5 d-flex">
        <div class="row solo-box-page align-items-center mx-auto mt-5 pt-5">
            <div class="col mt-5 p-5 border border-black">
                <form th:action="${showPassword} ? @{/login} : @{/login-check}" 
                      th:object="${logindto}" method="post">
                    <h1 class="mb-4 fw-bold text-center">Login</h1>
                    <div class="mb-3">
                        <label for="mobilePhoneNumber" class="form-label">Mobile Number</label>
                        <input type="tel" th:field="*{username}" class="form-control rounded-0" id="mobilePhoneNumber"
                               name="mobilePhoneNumber" placeholder="Enter Mobile Number" 
                              required>
                        
                        <!-- Error Message for Mobile Number -->
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
                    </div>

                    <div th:if="${showPassword}" class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" th:field="*{password}" class="form-control rounded-0" id="password"
                               placeholder="Enter your password" aria-describedby="mobileHelp">
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100 rounded-0">Submit</button>
                    <a th:href="@{/forgot-password}" class="d-block mt-3">Forgot Password</a>
                </form>
            </div>
        </div>
    </section>
</main>

<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>