<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Login')}"></th:block>
<main>
	<section class="container pt-5 d-flex">
		<div class="row solo-box-page align-items-center mx-auto mt-5 pt-5">
			<div class="col mt-5 p-5 border border-black">

				<h1 class="mb-4 fw-bold text-center">Login</h1>
				<form>
					<div class="mb-3">
						<label for="mobileNumber" class="form-label">Mobile Number</label>
						<input type="tel" class="form-control rounded-0" id="mobileNumber" name="mobileNumber"
							placeholder="Enter Mobile Number">
					</div>
					<button type="submit" class="btn btn-primary w-100 rounded-0">Submit</button>
				</form>
				<a href="#" class="d-block mt-3">Forgot Password</a>

			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>