<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Purchase History')}"></th:block>
<main>
	<section class="container p-5 d-flex">
		<div class="row solo-box-page-wide align-items-center mx-auto mt-5 pt-5">
			<div class="col border border-black p-5">
				<h1 class="mb-4 fw-bold text-center">My Purchase History</h1>
				<div class="row mb-3 flex-column g-3">
					<div data-order-id="1" class="order-box col border border-black p-5">
						<span class="fs-3 fw-semibold">Order ID:</span>
						<span class="fs-3 fw-semibold">Order Date:</span>
						<span class="fs-3 fw-semibold">Order Price:</span>
					</div>
					<div data-order-id="2" class="order-box col border border-black p-5">
						<span class="fs-3 fw-semibold">Order ID:</span>
						<span class="fs-3 fw-semibold">Order Date:</span>
						<span class="fs-3 fw-semibold">Order Price:</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>