<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert the header -->
<th:block th:insert="~{fragments/header :: header('Purchase History')}"></th:block>
<main>
	<section class="container p-5 d-flex">
		<div class="row solo-box-page-wide align-items-center mx-auto mt-5 pt-5">
			<div class="col border border-black p-5">
				<h1 class="mb-4 fw-bold text-center">My Purchase History</h1>
				<div th:if="${orders.isEmpty()}" class="text-center py-5">
					<h2 class="text-muted">No orders found</h2>
				</div>
				<div class="row mb-3 g-3" th:each="order:${orders}">
					<div class="text-decoration-none text-dark">
						<div data-order-id="1" class="order-box col border border-black p-5">
							<span class="fs-3 fw-semibold">Order ID: <span th:text="${order.orderIdString}"></span></span>
							<span class="fs-5 fw-medium">Order Date: <span th:text="${@dateTimeFormatterUtil.formatDate(order.date)}"></span></span>
							<span class="fs-5 fw-medium">Order Price: <span
									th:text="'S$' + ${#numbers.formatDecimal(order.totalPrice, 1, 2)}"></span></span>
							<span class="fs-5 fw-medium">Order Status: <span
									th:text="${order.status}"></span></span>
							<a th:href="@{/order-detail/{id} (id=${order.id})}" class="btn btn-primary rounded-0">View Order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- Insert the footer -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</html>